<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Leefy-Bump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,124}</string>
                <key>spriteSourceSize</key>
                <string>{77,124}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leefy-Concern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,124}</string>
                <key>spriteSourceSize</key>
                <string>{77,124}</string>
                <key>textureRect</key>
                <string>{{77,0},{77,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leefy-Happy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,124}</string>
                <key>spriteSourceSize</key>
                <string>{77,124}</string>
                <key>textureRect</key>
                <string>{{154,0},{77,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leefy-Skeleton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,124}</string>
                <key>spriteSourceSize</key>
                <string>{77,124}</string>
                <key>textureRect</key>
                <string>{{231,0},{77,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leefy-Smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,124}</string>
                <key>spriteSourceSize</key>
                <string>{77,124}</string>
                <key>textureRect</key>
                <string>{{308,0},{77,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leefy.png</string>
            <key>size</key>
            <string>{385,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:189e86fb39980737c72d543d87bd2a44:6b3282d9cef4eb4f251f8466a1afb766:23e8deb039825ab54b1caf2ef46ec98f$</string>
            <key>textureFileName</key>
            <string>leefy.png</string>
        </dict>
    </dict>
</plist>
